:root {
    --PRIMARY: #202124;
    --PRIMARYTEXT: whitesmoke;
    --ACCENTLIGHT: #d70000;
    --ACCENT: #bf0000;
    --HIGHLIGHT: #b71c1ccc;
    --SECONDARY: whitesmoke;
    --SECONDARYTEXT: black;
}

/*text highlight colors*/
::selection {
    background: var(--HIGHLIGHT)
  }
::-moz-selection {
    background: var(--HIGHLIGHT)
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    background: var(--SECONDARY);
    font-family: Montserrat;
    font-size: 100%;
}

/*------------------------header----------------------*/
.header h1 {
    text-align: center;
    margin: 0;
}
#nav {
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#nav ul {
    display: block;
    margin: 0;
    padding: 0;
    max-height: 50px;
    text-align: center;
    visibility: visible;
    transition: all 250ms ease-in;
    font-size: 0;
    white-space: nowrap;
    border-bottom-width: 3px;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
}
.mover {
    transition: all 250ms ease-in;
}
#resume:hover {
    display: block;
    cursor: pointer;
    color: var(--ACCENT);
    background-color: rgba(0,0,0,.01);
    border-color: var(--ACCENT);
}
#resume:active {
    color: var(--ACCENTLIGHT);
    background-color: rgba(0,0,0,0.02);
    border-color: var(--ACCENTLIGHT);
}

/*----------------------content------------------------*/
.section{
    clear: both;
    background-color: var(--SECONDARY) !important;
    padding: 0 10%;
}
.end {
    height: 2%;
    border-bottom-width: 4px;
    border-bottom-color: var(--ACCENT);
    border-bottom-style: solid;
}

/*about*/
.about>h1{
    margin: 0;
    padding: 40 0 10 0;
    text-align: left;
    border: none;
}

/*portfolio*/
.portfolio>li {
    display: inline-block;
    text-align: left;
    margin: 0px;
    padding: 7%;
    font-weight: bold;
    width: auto;
    height: auto;
    transition: box-shadow 250ms ease-in;
    position: relative;
    overflow: auto;
}
.portfolio>li:hover {
    box-shadow:0px 0px 5px rgba(0,0,0,.5);
    transition: box-shadow 250ms ease-in;
}
.portfolio li h3 {
    width: 100%;
    margin: 10 0 5 0;
    font-weight: bolder;
    text-align: left;
}
.portfolio li p {
    width: 100%;
    margin: 5 0 5 0;
    font-weight: normal;    
}
#tabs {
    background-image: url(../pictures/tabs.png);
    background-size: cover;
}
#othello {
    background-image: url(../pictures/othello.png);
    background-size: cover;
}
#spotify {
    background-image: url(../pictures/spotify.png);
    background-size: cover;
}
#yahduot {
    background-image: url(../pictures/yahduot.png);
    background-size: cover;
}
#genetic {
    background-image: url(../pictures/ga.png);
    background-size: cover;
}
#interpreter {
    background-image: url(../pictures/interpreter.png);
    background-size: cover;
}
#website {
    background-image: url(../pictures/website.png);
    background-size: cover;
}
#leaderboard {
    background-image: url(../pictures/leaderboard.png);
    background-size: cover;
}
#game {
    background-image: url(../pictures/game.png);
    background-size: cover;
}
.space {
    height: 40;
}
.languages {
    display: block;
    padding: 0;
    margin: 5 0 5 0;
}
.portfolio .languages {
    display: block;
    padding: 0;
    margin: 5 0 5 0;
    position: absolute;
    bottom: 7%;
    left: 7%;
}
.languages li {
    display: inline-block;
    border-color: rgba(0,0,0,.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    padding: 2 5 2 5;
    margin: 2 0 2 0;

    font-weight: lighter;
    font-size: small;

}

/* experience */
.experience {
    text-align: center;
    overflow:auto;
}
.work ul {
    list-style: none;
}
.experience>h1{
    margin: 0;
    padding: 40 0 10 0;
    text-align: left;
}
.experience h4{
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    width: 50%;
}
.date {
    vertical-align: bottom;
    float: right;
}

/* languages */
.school {
    display: block;
    text-align: center;
    border-top-width: 1px;
    border-top-color: var(--PRIMARY);
    border-top-style: solid;
}
.school>h3 {
    text-align: center;
    margin: 0 10%;
    padding-top: 20;
}

/* contact */
.contactInfo {
    text-align: center;
    margin-bottom: 15px;
}
.contactInfo>h1{
    margin: 0;
    padding: 40 0 10 0;
    text-align: left;
}
.mail {
    display: inline-block;
    margin: 15px;
    text-align: center;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: all 250ms ease-in;
    padding: 10px;
}
.mail:hover {
    box-shadow:0px 0px 5px rgba(0,0,0,.5);
    border-color: var(--PRIMARY);
    transition: all 250ms ease-in;
}
.mail p {
    text-decoration-line: underline !important;
    text-decoration-color: var(--SECONDARYTEXT) !important;
    color: var(--SECONDARYTEXT);
    margin-bottom: 0;
}
.mail>img{
    object-fit: fill;
    width: 50px;
    height: auto;
}

.info {
    position: relative;
    display: inline-block;
}

.info .infoText {
    visibility: hidden;
    width: 120px;
    background-color: var(--PRIMARY);
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: small;

    position: absolute;
    z-index: 1;
    bottom: 95%;
    left: 50%;
    margin-left: -60px;
}

.info .infoText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.info:hover .infotext {
    visibility: visible;
    transition-duration: .250ms;
    transition-delay: 1s;
}

/*footer*/
footer {
    margin: 0px;
    padding: 10px;
    text-align: center;
    background: var(--PRIMARY);
    color: var(--PRIMARYTEXT);
    font-size: unset;
    box-shadow: 0px -1px 5px rgba(0,0,0,.5)
}

/*-------------------------desktop-------------------------*/
@media (min-width: 768px) {
    /*header desktop*/
    header {
        padding: 50 0 0 0;
        margin: 0;
        width: 100%;
        height: auto;

        background: var(--PRIMARY);
        color: var(--PRIMARYTEXT);
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        position: absolute;
        top: 0;
        z-index: 1;
    }
    .headerSpace {
        padding-top: 187px;
    }
    header h1 {
        font-size: 3rem;    
        padding: 0 0 10 0;
        width: 100%;
        text-align: center;
    }
    #scroll_name {
        text-align: center;
        float: left;
        padding: 0 10% 0 10%;
    }
    #name {
        opacity: 0;
        transition: opacity 250ms ease-in;
    }
    #drawer {
        display: none;
    }

    /*nav bar desktop*/
    #nav {
        display: block;
    }
    #nav ul a {
        font-size: medium;
        font-weight: bold;
        display: inline-block;
        margin: 0;
        padding: 10px 10px 20px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: var(--PRIMARY);
        color: var(--PRIMARYTEXT);
        text-decoration: none;
        cursor: pointer;
        border-bottom-width: 4px;
        border-bottom-color: rgba(0,0,0,1);
        border-bottom-style: solid;
    }
    #nav ul a:hover {
        color: var(--ACCENTLIGHT) !important;
        border-bottom-color: var(--ACCENTLIGHT) !important;
    }

    /*resume button dektop*/
    #resume {
        z-index: 1;
        display: block;
        position: absolute;
        height: auto;
        width: auto;
        bottom: 6%;
        right: 10%;
        padding: 10;
        text-decoration: none;
        color: var(--ACCENT);
        border-color: var(--ACCENT);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }

    /*about desktop*/
    .about {
        padding-top: 0;
    }
    .about p {
        width: 61.8%;
    }

    /*portfolio desktop*/
    .portfolio {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #portfolio>h1{
        margin: 0;
        padding: 40 0 10 0;
        text-align: left;
    }
    .portfolio {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0;
    }
    .portfolio>li {
        display: inline-block;
        text-align: left;
        margin: 0px;
        padding: 7%;
        font-weight: bold;
        width: auto;
        height: auto;
        transition: box-shadow 250ms ease-in;
        position: relative;
        overflow: auto;
    }
    .portfolio>li:hover {
        box-shadow:0px 0px 5px rgba(0,0,0,.5);
        transition: box-shadow 250ms ease-in;
    }
    .panel {
        width: 100%;
        height: 20vw;
        margin: 5 0 5 0;
    }
    .github img{
        object-fit: fill;
        width: 40;
        height: auto;

        position:absolute;
        bottom:7%;
        right:7%;

        opacity: 0;
        transition: all 150ms ease-in;
    }
    .portfolio>li:hover .github img{
        opacity: 1;
        transition: all 150ms ease-in;

    }

    /*experience*/
    .work {
        margin-left: 10px;
        margin-right: 10%;
        padding: 0;
        max-width: 50%;
        
        display: block;
        text-align: left;
        float: left;
    }
    .classes {
        list-style-image: url("list.svg");
        list-style-position: inside;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        display: block;
        max-width: 400;
        text-align: left;
        float: left;
        margin: 0 0 2% 0;
    }
}

/*----------------------mobile--------------------*/
@media (max-width: 768px) {
    /*header mobile*/
    header {
        padding: 50px 0px 0px 0px;
        margin: 0;
        width: 100%;
        height: auto;
   
        background: var(--PRIMARY);
        color: var(--PRIMARYTEXT);
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        position: absolute;
        top: 0;
        z-index: 1;
    }
    .headerSpace {
        padding-top: 167px;
    }
    header h1 {
        font-size: 3rem;    
        padding: 0 0 10 0;
        width: 100%;
        text-align: center;
    }
    #scroll_name {
        display: block;
        padding: 10 0 10 0;
        margin: 0 10% 0 10%;
    }
    #menuToggle{
        float: left;
        margin: 5 0 0 0;
        vertical-align: center;
        cursor: pointer;
    }
    #menuToggle span{
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        
        background:var(--SECONDARY);
        border-radius: 3px;        
        transform-origin: 0px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #name {
        margin: auto;
        width: fit-content;
        width: -moz-fit-content;
        opacity: 0;
        transition: none;
    }

    /*navbar mobile*/
    #nav {
        display: block;
    }
    #nav ul {
        display: block;
        margin: 0;
        padding: 0;
        max-height: 50px;
        text-align: center;
        visibility: visible;
        transition: all 250ms ease-in;
        white-space: nowrap;
        border-bottom-width: 3px;
        border-bottom-color: rgba(0, 0, 0, 0);
        border-bottom-style: solid;
    }
    #nav ul a {
        font-size: medium;
        display: inline-block;
        margin: 0;
        padding: 10px 10px 20px 10px;
        background: var(--PRIMARY);
        color: var(--PRIMARYTEXT);
        cursor: pointer;
        text-decoration: none;
        border-bottom-width: 4px;
        border-bottom-color: rgba(0,0,0,0);
        border-bottom-style: solid;
    }
    #nav ul a:hover {
        color: var(--ACCENTLIGHT) !important;
        border-bottom-color: var(--ACCENTLIGHT) !important;
    }

    /*resume button mobile*/
    #resume {
        display: block;
        position: absolute;
        cursor: pointer;
        bottom: 5%;
        right: 5%;
        padding: 5;
        text-decoration: none;
        color: var(--ACCENT);
        border-color: var(--ACCENT);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }

    /*drawer mobile*/
    #drawer {
        display: block;
        margin: 0;
        padding: 0;
        width: 0%;
        position: absolute;
        left: 0;
        transition: all 150ms ease-in;
        overflow: hidden;
    }
    #drawer ul {
        display: block;
        width: 100%;
        float: left;

        margin: 0;
        padding: 0;
        text-align: center;
        visibility: visible;
        white-space: nowrap;
        list-style-type: none;
        transition: all 250ms ease-in;
    }  
    #drawer ul a {
        display: block;
        margin: 0;
        padding: 20px 20px 20px 20px;
        background: var(--PRIMARY);
        color: var(--PRIMARYTEXT);
        text-decoration: none;
        cursor: pointer;
        transition: all 250ms ease-in;
        box-shadow: 0px -10px 0px -10px rgba(0,0,0,.5);
    }   
    #drawer ul a:hover {
        color: var(--ACCENT) !important;
    }
    
    /*about mobile*/
    .about {
        padding-top: 0px
    } 
    .about p {
        width: 100%;
    }
    
    /*portfolio mobile*/
    .portfolio {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0;
        text-align: center;
        margin: 0;
        padding: 0;
    } 
    #portfolio {
        padding: 0;
    } 
    #portfolio>h1{
        margin: 0;
        padding: 40 0 10 10%;
        text-align: left;
    }  
    .panel {
        width: 100%;
        height: 50vw;
        margin: 5 0 5 0;
    }
    .github img{
        object-fit: fill;
        width: 40;
        height: auto;
        position:absolute;
        bottom:7%;
        right:7%;
        opacity: 1;
        transition: all 150ms ease-in;
    }  
    .portfolio .end {
        margin: 0 10%;
    }

    /*experience mobile*/
    .work {
        margin: 0;
        padding: 0;
        max-width: 100%;
        
        display: block;
        text-align: left;
        float: left;
    
    }  
    .classes {
        list-style-image: url("list.svg");
        list-style-position: inside;
        margin: 0 0 5% 0;
        padding: 0;
        display: block;
        max-width: 400;
        text-align: left;
        float: left;
    }

    /*sizing fix for smaller screens*/
    @media (max-width: 350px) {
        #nav ul a {
            padding: 10px 5px 20px 5px;
        }
    }
}